.servers-page{
    width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
}

.servers-explore-list{
    overflow: hidden scroll;
    padding: 32px;
    height: 100%;
    width: 100%;
    max-width: 1608px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: hsl(220,7.7%,22.9%);
}

.servers-explore-header{
    position: relative;
    text-align: center;
    margin-bottom: 32px;
    min-height: 200px;
    outline: 0;
}

.servers-explore-image{ 
    border-radius: 8px;
    width: 100%;
    height: auto;
    position: relative;
}

.header-content-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header-content{
    width: 100%;
    min-width: 360px;
    max-width: 720px;
    margin: 0 240px;
    position: relative;
}

.search-container{
    margin-top: 16px;
    display: flex;
	flex-wrap: wrap;
	outline: 0;
	border-radius: 4px;
	justify-content: space-between;
}

.servers-explore-search{
    position: relative;
    margin: auto auto 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servers-explore-input{
    outline: 0;
    overflow: hidden;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid transparent;
    width: 100%;
    max-width: 560px;
    padding: 8px;
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%,.2);
}


.server-card-list {
    margin-top: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill,minmax(248px,1fr));
}

.server-card {
    background-color: var(--background-four);
    display: flex;
    flex-direction: column ;
    height: 320px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}
.server-card-content {
    width: 100%;
}

.server-card h1{
    font-family: var(--font-display);
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    color: whitesmoke;
    padding: 6px;
    text-align: center;
    width: 100%;
}

.server-card-image {
    height: 143px;
    position: relative;
    display: block;
    overflow: visible;
    margin-bottom: 32px;
    width: 100%;
}

.header-content h1{
    font-family: var(--font-display);
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    color: whitesmoke;
}

.header-content p{
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 20px;
    padding-top: 8px;
    color: whitesmoke;
}

.search-container .mag-glass-container{
    position: relative;
    z-index: 2;
    right: 32px;
    color: black;
}