.friendship-dms{
    overflow-x: unset;
	overflow-wrap: break-word;
	overflow-y: hidden scroll;
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: flex-end;
	padding-bottom: 16px;
}

.dm-userIcon {
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 50%;
}

.dm-userIcon.fa-solid {
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 40px;
	color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
}

#no-message-card{
	margin: 16px;
	margin-bottom: 32px;
}

#no-message-card h1{
	font-size: 32px;
	margin: 8px 0;
	color: whitesmoke;
}

#no-message-card p{
	font-size: 16px;
	color: var(--text-muted)
}