
.channel-messages {
	overflow-x: unset;
	overflow-wrap: break-word;
	overflow-y: hidden scroll;
	height: 100%;
	box-sizing: border-box;
}

.center-column {
	display: flex;
	flex-direction: column;
    height: 100%;
	position: relative;
	overflow-x: hidden;
	padding-bottom: 60px;
	box-sizing: border-box;
	justify-content: flex-end;
}

.outer-center {
	display: flex;
	flex-direction: column;
    height: 100%;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	box-sizing: border-box;
}

.channel-messages #no-message-card{
	padding-bottom: 8px;
	border-bottom: solid 2px var(--background-two);
}