
.channel-messages {
	overflow-x: unset;
	overflow-wrap: break-word;
	overflow-y: hidden scroll;
	flex: 1 1 auto;	
}

.center-column {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
    height: 95%;
	position: relative;
	overflow-x: hidden;
	padding-bottom: 60px;
}

.outer-center {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
    height: 95%;
	position: relative;
	overflow-x: hidden;
}