.sidebar {
	display: flex;
	flex-direction: column;
	min-height: 0;
	width: 240px;
	flex: 0 0 auto;
	background-color: var(--background-two);
}

.sidebar-user {
	border-radius: 50%;
}

.sidebar-main {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-profile-token {
	height: 52px;
	font-size: 14px;
	font-weight: 500;
	padding: 0 8px;
	background-color: var(--background-secondary-alt);
	display: flex;
	align-items: center;
	color: whitesmoke;
}

.sidebar-profile-token h1 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: var(--header-primary);
	line-height: 18px;
	font-weight: 600;
	font-family: var(--font-primary);
	font-size: 14px;
	padding: 4px 0 4px 8px;
}

.sidebar-userIcon {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 50%;
}

.sidebar-userIcon .fa-solid {
	width: 32px;
	height: 32px;
	line-height: 32px;
	color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
}

.settings-button{
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--clickable-default);
	width: 32px;
	height: 32px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
}

.settings-button:hover {
	background-color: var(--background-one);
}

.sidebar-header {
	font-family: var(--font-display);
    font-weight: 600;
	box-sizing: content-box;
	color: whitesmoke;
	height: 24px;
	padding: 12px 16px;
	font-size: 16px;
    line-height: 20px;
	flex: none;
	display: flex;
	box-shadow:  0 1px 0 hsla(240,11.1%,1.8%,0.2),0 1.5px 0 hsla(240,7.7%,2.5%,0.05),0 2px 0 hsla(240,11.1%,1.8%,0.05);;
}

.sidebar-header h1{
	display: block;
}

.sidebar-main h1{
	padding-top: 16px;
	width: 90%;
	text-align: left;
	color: var(--clickable-default);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sidebar-channel{
	color: var(--text-muted);
	display: flex;
	width: 90%;
	padding: 6px 8px;
	border-radius: 4px;
	overflow: hidden;
}

.sidebar-channel:hover{
	background-color: var(--background-one);
	color: white;
}

.sidebar-channel-button {
	position: inherit;
	box-sizing: border-box;
    margin-left: 8px;
	background-color: transparent;
	color: inherit;
	outline: none;
	border: none;
	font-size: 14px;
    line-height: 20px;
    font-weight: 500;
	text-align: left;
}

.add-channel{
	border: none;
	outline: 0;
	background-color: transparent;
	color: var(--text-muted);
	font-size: 20px;
    line-height: 20px;
	margin-right: 16px;
	border-radius: 4px;
}

.add-channel:hover{
	background-color: var(--background-one);
}