.user-form-modal{
    width: 100vw;
    height: 100vh;
    background-color: var(--background-one);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-form-modal-nav{
    flex: 1 0 218px;
    height: 100%;
    background-color: var(--background-two);
    display: flex;
    justify-content: flex-end;
}

.modal-nav-tabs{
    overflow: hidden;
    width: 218px;
    margin: 60px 6px 60px 20px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
}

.user-form-modal-main{
    flex: 1 1 800px;
    height: 100%;
    overflow: hidden scroll;
    display: flex;
    justify-content: flex-start;
}

.modal-main-column{
    flex: 1 1 auto;
    max-width: 740px;
    min-width: 460px;
    min-height: 100%;
    padding: 60px 40px 80px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.my-account-card{
    background-color: var(--background-four);
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

.my-account-color{
    width: 100%;
    height: 100px;
}

.my-account-photo-wrapper{
    left: 16px;
    bottom: 6px;
    position: absolute;
}

.my-account-photo{
    width: 80px;
    height: 80px;
    border: 7px solid var(--background-four);
    
    box-sizing: content-box;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}

.my-account-info{
    height: 72px;
    width: auto;
    display: flex;
    padding: 16px 16px 0 120px;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}

.my-account-edits{
    width: auto;
    border-radius: 8px;
    background-color: var(--background-two);
    padding: 16px;
    margin: 8px 16px 16px 16px;
    box-sizing: border-box;
}

.my-account-photo i{
    width: 92px;
    height: 92px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 46px;
    color: white;
}

.modal-main-column h1{
    box-sizing: border-box;
    font-weight: 500;
    color: whitesmoke;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--font-display);
}

.my-account-card h2{
    margin-bottom: 6px;
    font-family: var(--font-display);
    color: var(--text-normal);
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.my-account-card h3{
    color: var(--text-normal);
    text-overflow: ellipsis;
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.my-account-card h4{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;    
    color: var(--text-muted);
    margin-bottom: 4px;
}

.edit-user-profile{
    background-color: var(--discord-color);
    box-sizing: border-box;
    width: auto;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    color: white;
    font-family: var(--font-primary);
}

.edit-user-profile:hover{
    background-color: var(--discord-hover);
}

.spacer{
    margin-top: 24px;
}

#esc-button{
    flex: 0 0 36px;
    border: 2px solid;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    color: var(--clickable-default);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


#esc-toolbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#esc-toolbar h2{
    margin-top: 8px;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: var(--clickable-default)
}

.modal-nav-tabs h1{
    padding: 0px 10px 6px 10px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-display);
    line-height: 16px;
    text-transform: uppercase;
    color: var(--text-muted);
}

.modal-nav-tabs li{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 10px;
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: var(--clickable-default);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-radius: 4px;
}

.modal-nav-tabs li:hover{
    color: whitesmoke;
    background-color: var(--background-hover);
}

.seperator{
    margin: 8px 10px;
    height: 1px;
    box-sizing: border-box;
    width: auto;
    background-color: hsla(217,7.6%,33.5%,0.48);
    align-self: flex-start;
    display: block;
    width: 100%;
}

.customization-sep{
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--text-input);
}

.profile-customization{
    display: flex;
    gap: 35px;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

.bannerColor{
    width: 100%;
    height: 100%;
    border-radius: 4px ;
}

.input-wrapper{
    width: 69px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    outline: none;
    margin: 0;
    padding: 0;
}


.dropperIcon{
    position: absolute;
    top: 4px;
    right: 4px;
    color: whitesmoke;
}

#change-avatar{
    color: whitesmoke;
    background-color: var(--discord-color);
    outline: none;
    border: none;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    width: auto;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    position: relative;
}

#change-avatar:hover{
    background-color: var(--discord-hover);
}

#change-avatar-file{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    font-size: 0px;
}

.profile-customization h4{
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--font-display);
    color: var(--text-muted);
    margin-bottom: 8px;
}

.profile-customization-form{
    
}

.preview-card{
    max-width: 340px;
    min-height: 280px;
    background-color: #292b2f;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.preview-banner{
    min-width: 340px;
    min-height: 60px;
}

.preview-content{
    margin: 28px 16px 16px 16px;
    max-height: calc(100vh - 128px);
    background-color: #18191c;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.preview-content h1{
    font-weight: 400;
    display: block;
    font-family: var(--font-display);
    font-size: 20px;
    line-height: 24px;
    padding: 12px 12px 0;
    width: 100%;
}

.preview-card .my-account-photo{
    position: absolute;
    z-index: 1;
    left: 22px;
    top: 16px;
    width: 80px;
    height: 80px;
    box-sizing: content-box;
}

.preview-content-desc{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

#update-about{
    border-radius: 3px;
    height: 136px;
    background-color: var(--input-background-2);
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 50vh;
    color: var(--text-muted);
    border: none;
    outline: none;
    width: 100%;
}

.preview-content .spacer{
    margin: 0;
    margin-bottom: 12px;
    height: 1px;
    width: 95%;
    background-color: var(--text-muted);
}

.profile-customization-submit{
    position: absolute;
    bottom: 10px;
    left: 16px;
    right: 71px;
    max-width: 740px;
    padding: 10px 10px 10px 16px;
    border-radius: 5px;
    color: whitesmoke;
    z-index: 2;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: #18191c;
    justify-content: space-between;
}

.profile-customization-submit h1{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

.profile-customization-submit button{
    color: whitesmoke;
    margin-left: 10px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    box-sizing: border-box;
}

.user-form-image-preview{
    width: 105%;
    height: 105%;
    position: absolute;
    background-color: black;
}   