.user-page {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
}

.main-container {
	display: flex;
	flex-direction: column;
}

.user-page-main {
	display: flex;
	-webkit-box-align: stretch;
	justify-content: flex-start;
	flex-direction: column;
	min-width: none;
	min-height: 0;
	flex: 1 1 auto;
	background-color: var(--background-one);
}

h2#online {
	margin: 16px 20px 8px 30px;
	color: var(--text-two);
}

.user-page-topnav {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: 48px;
	flex-shrink: 0;
	padding: 0 8px;
	font-size: 16px;
	line-height: 20px;
	cursor: default;
    display:  flex;
    align-items: center;
	border-bottom: 1px inset var(--background-four);
}

.iconic{
    color: var(--clickable-default);
    height: 24px;
    width: auto;
    margin: 0 8px;
}

.user-page-topnav-children{
    align-items: center;
    display: flex;
}

.user-page-topnav-children h1{
    padding: 0 8px 0 0;
    color: var(--off-white);
    font: 17px var(--font-display) 500;
    line-height: 22px;
}

.divider{
    width: 1px;
    height: 24px;
    margin: 0 8px;
    background-color: slategray;
}

.user-page-topnav-children button{
    padding: 0 8px;
    min-width: 40px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clickable-default);
    background-color: transparent;
    outline: 0;
    border: none;
}

.user-page-topnav-children button:hover{
    background-color: var(--discord-color);
}
/* .user-page-main-content:before {
	content: '';
    position: absolute;
    display: block;
	top: -1px;
	left: 0;
	right: 0;
	height: 1px;
    width: 100%;
	-webkit-box-shadow:
		0 1px 0 hsla(240, 11.1%, 1.8%, 0.2),
		0 1.5px 0 hsla(240, 7.7%, 2.5%, 0.05),
		0 2px 0 hsla(240, 11.1%, 1.8%, 0.05);
	box-shadow: 
        0 1px 0 hsla(240, 11.1%, 1.8%, 0.2),
        0 1.5px 0 hsla(240, 7.7%, 2.5%, 0.05),
        0 2px 0 hsla(240, 11.1%, 1.8%, 0.05);
	z-index: 1;
	pointer-events: none;
} */

.online{
    background-image: url(../../assests/wumpus/online.svg);
    width: 421px;
    height: 218px;
}
.all{
    background-image: url(../../assests/wumpus/friends.svg);
    width: 372px;
    height: 162px;
}
.pending{
    background-image: url(../../assests/wumpus/pending.svg);
    width: 415px;
    height: 200px;
}
.blocked{
    background-image: url(../../assests/wumpus/blocked.svg);
    width: 433px;
    height: 232px;
}

.user-page-main-content {
    height: 100%;
	width: 	auto;
}

.center-column-search {
	display: flex;
	flex-wrap: wrap;
	padding: 1px;
	outline: 0;
	margin: 16px 20px 8px 30px;
	border-radius: 4px;
	background-color: var(--background-four);
	justify-content: space-between;
}

div#list {
    height: 100%;
	margin-top: 8px;
	padding-bottom: 8px;
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-column-people-list {
    height: 100%;
}

div#list p{
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   margin-top: 8px; 
   color: var(--clickable-default);
}

#center-column-search-input {
	font-size: 16px;
	line-height: 32px;
	height: 30px;
	padding: 0 8px;
	box-sizing: border-box;
	min-width: 48px;
	margin: 1px;
	font-family: var(--font-primary);
	text-rendering: optimizeLegibility;
	font-weight: 400;
	background-color: transparent;
	outline: 0;
	border: none;
	color: var(--text-normal);
}

.mag-glass-container {
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--off-white);
}

.user-page-main-content {
	display: flex;
}

#add-friend{
	background-color: green;
}