/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.boatVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

* {
	forced-color-adjust: none;
}

:root {
	--font-primary: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-display: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-headline: "ABC Ginto Nord","Helvetica Neue",Helvetica,Arial,sans-serif;
	--off-black: #23272a;
	--aggresive-blue: #00aff4;
	--discord-color: #5865f2;
	--discord-hover:  #4752c4;
	--off-white: #f6f6f6;
	--background-one: hsl(220,7.7%,22.9%);
	--background-two: hsl(223,6.9%,19.8%);
	--background-three: hsl(216,7.2%,13.5%);
	--background-four: hsl(216,7.2%,13.5%);
	--text-normal: hsl(210,2.9%,86.7%);
	--text-two: hsl(216,3.7%,73.5%);
	--text-muted:  hsl(214,4%,65.3%);
	--clickable-default: hsl(216,3.7%,73.5%);
	--text-input: hsl(218,7.9%,27.3%);
	--input-background: rgb(203, 206, 209);
	--input-background-2: #202225;
	--server-input-text: hsl(210,*9.8%,20%);
	--background-secondary-alt: hsl(220,6.8%,17.3%);
	--background-hover: hsla(217,7.6%,33.5%,0.6);
}

/* @font-face {
	font-family: 'ABC Ginto Normal';
	src: url(frontend/src/fonts/ABC\ Ginto\ Normal/ABCGintoNormal-Bold-Trial.woff);
} */