.sign-up-page{
    background-image: url('../../assests/login/login.png');
    width: 100%;
    height: 100vh;
}

.birthday-selector {
    display: flex;
    width: 100%;
    height: 1.5em;
    justify-content: flex-start;
}

.birthday-selector select{
    padding: 10px 0 10px 0;
    border-radius: 4px;
    border: none;
    background: hsl(216,7.2%,13.5%);
    outline: 0;
    font-weight: 400;
    color: hsl(216,3.7%,73.5%);
    box-sizing: border-box; 
    position: absolute;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left;
    text-indent: 5px;
}

::-webkit-scrollbar {
width: 5px;

}

::-webkit-scrollbar-track {
background: #36393f;
}

::-webkit-scrollbar-thumb {
background: #888;
border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
background: #555;
}

.birthday-selector option{
padding: 10px;
}

.birthday-selector option:hover{
    background-color: #36393f;
} 

.birthday-selector div:nth-child(1) select{
    width: 145px;
}

.birthday-selector div:nth-child(2) select{
    width: 125px;
}

.birthday-selector div:nth-child(3) select{
    width: 125px;
}

.birthday-selector > div:nth-child(2){
    margin-left: 154px;
}

.birthday-selector div:nth-child(3){
    margin-left: 134px;
}

.birthday-selector > div{
    height: 100%;
    display: inline-block;
}

.sign-up-form-container {
    display: flex;
    flex-direction: column;
    background: #36393f;
    width: 480px;
    padding: 32px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 25px;
    align-items: flex-start;
    text-align: left;
}

.sign-up-form input{
    display: block;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    width: 100%;
    background: hsl(216,7.2%,13.5%);
    outline: 0;
    font-weight: 400;
    color: white;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.sign-up-form button{
    cursor: pointer;
    background-color: #5865f2;
    font-size: 16px;
    border-radius: 3px;
    transition: background-color .17s ease, color .17s ease;
    height: 44px;
    line-height: 24px;
    width: 100%;
    border: none;
    color: white;
    min-width: 130px;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;
    margin-top: 40px;
}

.sign-up-form button:hover{
    background-color: #4752c4;
}

.sign-up-form-container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    font-family: var(--font-display)
}

.sign-up-form label{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: hsl(216,3.7%,73.5%);
    font-family: var(--font-display);
}

a.to-login-from-signup{
    margin-top: 8px;
    padding: 2px;
    text-decoration: none;
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
}

a.to-login-from-signup:visited, a.to-login-from-signup:link, a.to-login-from-signup:hover, a.to-login-from-signup:focus, a.to-login-from-signup:active{
    color: var(--aggresive-blue);
}

a.to-login-from-signup:hover{
    text-decoration: underline;
}